---
import IconChevronLeft from "@/assets/icons/IconChevronLeft.svg";
import type { HTMLAttributes } from "astro/types";
import LinkButton from "./LinkButton.astro";
import { SITE } from "@/config";

type Props = {
  inline?: boolean;
} & HTMLAttributes<"a">;

const {
  inline = false,
  class: className,
  ...attrs
} = Astro.props;
---

{
  SITE.showBackButton && (
    <div
      transition:persist
      class:list={[
        "flex items-center justify-start",
        { "app-layout": !inline },
      ]}
    >
      <LinkButton
        id="back-button"
        href="/"
        class:list={[
          "focus-outline -ms-2 hover:text-foreground/75",
          inline ? "mb-4" : "mt-8 mb-2",
          className,
        ]}
        {...attrs}
      >
        <IconChevronLeft class="inline-block size-6 rtl:rotate-180" />
        <span>Go back</span>
      </LinkButton>
    </div>
  )
}

<script>
  /* Update Search Praam */
  function updateGoBackUrl() {
    const backButton: HTMLAnchorElement | null =
      document.querySelector("#back-button");

    const backUrl = sessionStorage.getItem("backUrl");

    if (backUrl && backButton) {
      backButton.href = backUrl;
    }
  }

  document.addEventListener("astro:page-load", updateGoBackUrl);
  updateGoBackUrl();
</script>
