---
import { SOCIALS } from "@/constants";
import LinkButton from "./LinkButton.astro";
---

<div class="flex flex-wrap items-center gap-3 text-foreground/68">
  {
    SOCIALS.map(social => (
      <LinkButton
        href={social.href}
        class="transition hover:text-accent"
        title={social.linkTitle}
      >
        <social.icon class="inline-block size-5 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent" />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>
